.nombreTiendaSuplementos {
    margin-left: 10px;
}

.iconoPerfil{
    margin-right: 10px;
    font-size: 18px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
}

.iconoPerfil i{
    color: white;
}

@media (max-width: 991px){
    .nombreTiendaSuplementos {
        display: none;
    }

    .iconoPerfil{
        display: none;
    }
}

@media (min-width: 992px){
    .perfilLink {
        display: none;
    }
}